@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    @apply font-sans antialiased text-[#242424];
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Stagger animations for grid items */
@layer utilities {
    .stagger-1 {
        animation-delay: 50ms;
    }

    .stagger-2 {
        animation-delay: 100ms;
    }

    .stagger-3 {
        animation-delay: 150ms;
    }

    .stagger-4 {
        animation-delay: 200ms;
    }

    .stagger-5 {
        animation-delay: 250ms;
    }

    .stagger-6 {
        animation-delay: 300ms;
    }

    .stagger-7 {
        animation-delay: 350ms;
    }

    .stagger-8 {
        animation-delay: 400ms;
    }

    .stagger-9 {
        animation-delay: 450ms;
    }

    .stagger-10 {
        animation-delay: 500ms;
    }
}